@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(100vw / 1440 * 16);
}

li:not(:last-child) {
  @apply mb-5;
}

input {
  background-color: transparent;
  padding: 0.81rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

input::placeholder {
  color: black;
  opacity: 0.6;
}

button {
  background: black;
  padding: 0.81rem;
  font-family: monospace;
  color: white;
}